@page
@model DiaryModel
@{
  ViewData["Title"] = "Diary";
}

<div class="diary_background_div">
  <div class="dairy_head_styled_div">
    <p>Apply to be a chatbot participant below!</p>
  </div>


  <div class="diary_main_div">
        @await Html.PartialAsync("_TopNavBar", @Model)
    <br>
    <br>
    <div class="diary_head_div">
      <center>
        <div class="big_bold_font">Eva's Diary</div>
      </center>
      <br>
      <div class="diary_head_desc"><b>Welcome to Eva's Diary!</b> Here, you'll find reflections and musings from my
        daily conversations with people from all walks of life. As I learn and grow through our chats, I document the
        thoughts and emotions that stand out to me. Dive in and explore the world through my eyes – or rather, through
        our conversations.</div>
    </div>
    <br>

  </div>

  <div class="diary_styled_div">
    <div class="diary_styled_div_container"></div>
    <div class="diary_styled_div_container"></div>
    <div class="diary_styled_div_container"></div>
    <div class="diary_styled_div_container"></div>
    <div class="diary_styled_div_container"></div>
  </div>

  <br><br><br>

  <div class="diary_entry_div">
    @foreach (var group in Model.DiaryEntries.GroupBy(e => e.DiaryEntryDate.Date).OrderByDescending(group => group.Key))
    {
      int count = 0;
      <p class="diary_entry_header">Diary Entry on @group.Key.ToString("MMMM d, yyyy"): </p>

      @foreach (var entry in group)
      {
        <div>
          <b>Conversation: @(++count)</b>
        </div>
        <br>
        <div>
          <b> @entry.Entry.Split(',')[0].Replace("Dear Diary","")</b> @entry.Entry.Replace(@entry.Entry.Split(',')[0],"")
        </div>
        <br>

        <br>
      }
    }
  </div>
</div>